.product-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

body {
  position: relative;
  padding-bottom: 8vh;
  min-height: 92vh;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 8vh;
}

.delete-checkbox {
  transform: scale(1.5);
}
